  @import url(//fonts.googleapis.com/css?family=Asar);
  @import url(//fonts.googleapis.com/css?family=Poppins);
  .sidebar {
  width:33%;
  z-index:5;
  position:absolute;
  color:white;
  font-family: 'Poppins', sans-serif;
  margin-left:2%;
  }
  .sidebar a {
  text-decoration:none;
  color:white;
  border: 4px solid #FFF;
  padding: 10px;
  margin: 10px;
  line-height:400%;
  transition:200ms;
  }
  .sidebar a:hover, .sidebar a:focus {
  color:black;
  background:white;
  }
  .sidebar li {
    list-style-type: none;
	font-size:1em;
  }
  .sidebar h1 {
  font-family: 'Asar', serif;
  font-size: 4em;
  text-align:center;
  }
  .sidebar h2 {
  font-family: 'Asar', serif;
  font-size: 2em;
  }
  body {
  background:transparent url("staticbg.jpg") no-repeat fixed 0px 0px / cover
  }
@media all and (max-width: 699px) {
  #video-bg {
    display: none;
  }
  .sidebar {
  width:90%;
  margin: auto;
  }
  body {
  background:transparent url("mobilebg.jpg") no-repeat fixed 0px 0px / cover
  }
  .sidebar h1 {
  font-family: 'Asar', serif;
  font-size: 2em;
  text-align:center;
  }
  .sidebar h2 {
  font-family: 'Asar', serif;
  font-size: 1em;
  }
  .sidebar li {
  font-size:0.5em;
  line-height:600%;
  }
}
  #video-bg {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
	z-index:0;
  }
  #video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    #video-bg > video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-bg > video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    #video-bg > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
